#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/default.mk

%:
	dh $@ --parallel --fail-missing --with systemd


override_dh_auto_configure:
	# Enable debug builds
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Debug -DENABLE_WAYLAND=OFF -DENABLE_MIR=ON -DUSE_OLD_DBUS=ON

override_dh_install:
	install -d $(CURDIR)/debian/tmp/etc/init
	install -m 0644 data/ubuntu-touch-session/anbox-container.conf $(CURDIR)/debian/tmp/etc/init/anbox-container.conf

	install -d $(CURDIR)/debian/tmp/usr/share/upstart/sessions
	install -m 0644 data/ubuntu-touch-session/anbox-session.conf $(CURDIR)/debian/tmp/usr/share/upstart/sessions/anbox-session.conf

	install -d $(CURDIR)/debian/tmp/usr/share/applications
	install -m 0644 data/ubuntu-touch-session/anbox.desktop $(CURDIR)/debian/tmp/usr/share/applications/anbox.desktop

	install -d $(CURDIR)/debian/tmp/usr/bin
	install -m 0644 scripts/anbox-bridge.sh $(CURDIR)/debian/tmp/usr/bin/anbox-bridge

	install -d $(CURDIR)/debian/tmp/usr/bin
	install -m 0644 data/ubuntu-touch-session/anbox-setup $(CURDIR)/debian/tmp/usr/bin/anbox-setup
	install -m 0644 data/ubuntu-touch-session/anbox-tool $(CURDIR)/debian/tmp/usr/bin/anbox-tool

	dh_install --fail-missing
